.fixed {

    width: 100%;
    height: 100vh;
    /* position: absolute;
    display: inline; */
    overflow: auto;
    vertical-align: middle;

}

.gallery {
    width: 4200px;
    vertical-align: middle
}

.parallax  {

    object-fit: cover;
    width: 350px;
    height: 350px;
    vertical-align: middle;
    /* margin: 60px auto; */
    /* -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px); */
}
.parallax:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.frame {
    
}