#form {
    box-sizing: border-box;
    width: 100%;
    min-height: 90vh;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
    font-family: "raleway"
}

/* input[type="text"] {
    width: 50%;
} */

.btn {
    float: right;
background-color: rgb(38, 61, 84);
color: whitesmoke;
}

/* textarea {
width: 95%;
margin: 10px
}

.name {
    width: 45%;
}

.email {
    width: 45%;
}

.qcc {
    width: 100%;

}

label {
    margin: 5px auto;
} */

#gifArea {
    height: 200px;
    overflow: scroll;
}

#sharefooter {
    clear: both;
    /* position: relative; */
    /* bottom: 0; */
    margin: 0 10px;

}

.SocialMediaShareButton {
    float: left;
    width: 25px;
    margin: 0 10px;
}
.follow {
    width: 25px;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;


}

#socialdiv {
    /* margin-left: 8vh; */
    /* padding: 0 0 0 15px; */
    z-index: 999;
    width: 100%;
    /* position: absolute; */
    float: left;
    margin-top: 10vh;
}

@media only screen and (max-width: 768px) {
    #socialdiv{
           /* position: absolute;
           bottom: 0; */
           margin-top: 20vh
    }
}