#form {
    box-sizing: border-box;
    width: 100%;
    min-height: 90vh;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
    font-family: "raleway"
}

/* input[type="text"] {
    width: 50%;
} */

input[type="text"], textarea {
    font-family: 'Special Elite';
    color: white;
    background-color: black;
    border: none;
    height: 20px;

}

/* textarea {
width: 95%;
margin: 10px
}

.name {
    width: 45%;
}

.email {
    width: 45%;
}

.qcc {
    width: 100%;

}

label {
    margin: 5px auto;
} */

#gifArea {
    height: 200px;
    overflow: scroll;
}

#sharefooter {
    clear: both;
    /* position: relative; */
    /* bottom: 0; */
    margin: 0 10px;

}

.SocialMediaShareButton {
    float: left;
    width: 25px;
    margin: 0 10px;
}
.follow {
    width: 25px;
    margin: 8px 0;
    cursor: pointer;

}

#socialdiv {
    z-index: 999;
    position: absolute;
    right: 21px;
    bottom: 125px;
    width: 30px;
}