#form {
    box-sizing: border-box;
    width: 100%;
    height: 97vh;
    background-color: rgba(255, 255, 255, 0.5);

    margin: 10px auto;
    font-family: "raleway"
}

input[type="text"], textarea {
    font-family: 'Special Elite';
    color: white;
    background-color: black;
    border: none;

}

/* textarea {
    font-family: 'Special Elite';
    color: white;
    background-color: black;
    border: none;
} */