/* #mainnav {
    height: 100vh;
}

.homelink {
    font-size: 45px;
}



.homelink:visited {
    color: rgba(255, 255, 255, 0.6);
}

.homelink:hover {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.popup {
    opacity: 0.5;
    display: inline;
    position: absolute;
    width: 100px;
    margin: -80px 25px;
    display: none;
}



.homelink:hover .popup, .homelink:active .popup{
	display: inline;
} */
