/* .custom-bg {
  width: 100vw;
  height: 100vh;
} */

#all {
  top: 0;
  padding: 0 10px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  /* display: inline; */
  position: absolute;

}

/* for main section nav */

#mainnav {

  margin-top: 40vh;
  float: right;
}

.homelink {
  font-size: 45px;
}



.homelink:visited {
  color: rgba(255, 255, 255, 0.6);
}

.homelink:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.popup {
  opacity: 0.5;
  display: inline;
  position: absolute;
  width: 100px;
  margin: -80px 25px;
  display: none;
}



.homelink:hover .popup, .homelink:active .popup{
display: inline;
}

/*================================

more main nav

==================================*/

.nav {
  position: fixed;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.active {
	color:rgb(255, 213, 220) !important;
}

.Typist {

    
    font-size: 40px;

    /* 
    letter-spacing: -0.07ex;
    animation: anim 1.5s infinite alternate ease-in-out;
    padding-left: 20px; */
}
/*           
@keyframes anim {
from {
  text-shadow: 0 0 10px transparent;
}
to {
  text-shadow: 0 28px 50px rgba(0, 0, 0, 0.8);
}} */
@import url('https://fonts.googleapis.com/css?family=Abel');

@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Geo|Permanent+Marker|Schoolbell|Special+Elite');

@import url('https://fonts.googleapis.com/css?family=Kalam');
#name {
font-family: 'Schoolbell';
}

#dev {
/* font-family: 'Permanent Marker', cursive; */
font-family: 'Special Elite', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ent {
font-family: 'Abel', sans-serif;
/* font-family: 'Geo', sans-serif; */
}

.link {
text-decoration: none;
font-size: 30px;
font-family: 'raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgba(52,73,94, .5);
/* margin: 1vh 14vh; */

}

.link:visited {
color: rgba(255, 255, 255, 0.6);
}

.link:hover {
  color: rgba(52,73,94, .8);
  }

#navbar {
display: inline;
}

.logo {
display: inline;
text-decoration: none;
padding: 0;
line-height: 0
}

.logo:visited {

  color: rgba(255, 255, 255, 0.6);
}

.logospot {
  text-decoration: none;

  z-index: 999;
}
.white{
  color: rgba(255, 255, 255, 0.6);
}

.blue {
  color: rgba(52,73,94, .4);
}
.links {
  float: right;
  z-index: 600;
  position: fixed;
  top: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
}


.home {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  position: relative;
}

.homelink {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: 'raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.element {
	height:100vh;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}



a:hover {
  cursor: pointer
}

a:hover, a:focus {

  color: none;
    text-decoration: none;
  }

  #mobile {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: inline;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.9);
  
    
}

.open {
  left: 0px;
  transition: all .3s ease-in-out;

}

.open-n {
  left: -768px;
  transition: all .3s ease-in-out;
}

.blur {
  
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  transition: all .3s ease-in-out;
}

.blur-n {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  transition: all .3s ease-in-out;
}

#hamburger {
  width: 5px;
  display: inline;
}